

<footer class="bg-dark footer">
	<div class="container" style="color:white">
		<!-- <span class="text-muted">Place sticky footer content here.</span> -->
		<!-- <hr> -->
		<div class="row">
			<div class="col-md-2"><i class="fa fa-user-md doc" aria-hidden="true" style="font-size: 20px;"></i> Dr. Aleem Clinic</div>
			<div class="col-md-4"><i class="fa fa-map-marker loc" aria-hidden="true" style="font-size: 20px;"></i> 38, Ibrahim Sahib St., Kaspa,
				Vellore</div>
			<div class="col-md-4">

				<i class="fa fa-facebook-square facebook" aria-hidden="true" style="font-size: 20px;"></i>
				<i class="fa fa-instagram insta" aria-hidden="true" style="font-size: 20px;" ></i>
				<i class="fa fa-twitter-square twitter" aria-hidden="true" style="font-size: 20px;"></i>
				<i class="fa fa-envelope mail" aria-hidden="true" style="font-size: 20px;"></i>
			</div>
			<div class="col-md-2">
				<p><i class="fa fa-whatsapp what" aria-hidden="true" style="font-size: 20px;"></i> +91-89460 93329; +91-99404 06367</p>
			</div>
		</div>
		<!-- <hr> -->

	</div>
</footer>