<div class="row">
	<div class="col-md-4">
		<div class="progress" data-percentage="100">
			<span class="progress-left">
			<span class="progress-bar"></span>
			</span>
			<span class="progress-right">
			<span class="progress-bar"></span>
			</span>
			<div class="progress-value">
				<div>
					<h4>100%</h4>
					<h4>Curable</h4>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="progress" data-percentage="100">
			<span class="progress-left">
			<span class="progress-bar"></span>
			</span>
			<span class="progress-right">
			<span class="progress-bar"></span>
			</span>
			<div class="progress-value">
				<div>
					<h5></h5>
					<h3>No Side Effect</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="progress" data-percentage="100">
			<span class="progress-left">
			<span class="progress-bar"></span>
			</span>
			<span class="progress-right">
			<span class="progress-bar"></span>
			</span>
			<div class="progress-value">
				<div>
					<h5></h5>
					<h3>No Diet</h3>
				</div>
			</div>
		</div>

	</div>
</div>