<div class="container my-padding">
<h3>We treat</h3>
	<div class="row">
		
		<div class="col-md-4">
			<h6>SEXUAL DISORDERS IN MEN:</h6>
			<ul style="list-style-type:square;">
				<li>Complete cure for sexual disorders for men</li>
				<li>Treatment for infertility men</li>
				<li>Erectile dysfunction</li>
				<li>Pre mature ejaculation</li>
				<li>To increase sexual time</li>
				<li>To increase sperm count</li>
				<li>Unhappy sexual life</li>
				<li>Quick discharge of sperm.</li>
			</ul>

		</div>
		<div class="col-md-4">
			<h6>SEXUAL DISORDERS IN WOMEN:</h6>
			<ul style="list-style-type:square;">
				<li>Complete cure for sexual disorders for women</li>
				<li>Treatment for infertility women</li>
				<li>Lubrication disorder</li>
				<li>Vaginal dryness</li>
				<li>Penetration phobia</li>
				<li>Lack of orgasm</li>
				<li>Other Desire issue</li>
				<li>Stress</li>
			</ul>

		</div>
		<div class="col-md-4">

			<h6>SKIN PROBLEMS:</h6>
			<ul style="list-style-type:square;">
				<li>Complete cure for all types of skin problems</li>
				<li>Acne(pimples and black mark)</li>
				<li>Hair fall & dandruff</li>
				<li>Fungal infection</li>
				<li>Psoriasis</li>
				<li>Allergies</li>
				<li>Itching</li>
			</ul>
		</div>

	</div>






	<div class="row ">
		<div class="col-md-4 text-center my-padding">

			<img src="https://lh3.googleusercontent.com/fife/ABSRlIoGRB9h77zLhA2vLUg5G9dnIReKbDuUwYdlpnAvV0zZ14WjMUsGvDBuUTbML6nNEc98lu_4WdY2CO_WcdqmJPfHqaowTctGPs36cZ6YW3HFg9-elQP8TiDYnK1IzNyKS6gnSKbZ5DojUD5NZw6TIYnq4stNB5eHbha0CM7Ru9ben3qoEJZrRUUBWniOjGf8-PcYKCqN4ZuG3TWJ5QO4pO9ihAuS2rPmxQSDNNc7UeacGjV_avMHJ9hFKDyN4bvUMfrJryTNDJnEfaPEEOSEgOHdJxj1NEPVMpetVfIl8eYjmq4GJ-ibK6SboJoNoTGsT9bvbJoH9VmtCI4zxDn6nKyCnBcaYsQBqQNp5IZwbMvRp_n41off6c1izpqfuLiscn9bYE_h4WEbomJbg0ZsAa55wtgFYMlJJ4xUnaQF4x9pNRVJqjmNyWwtxF1BfDx-i82KwshKINfKzZ8jxn3veSg6rJpiUdk66Idf4V63eM1WayzIruClh5VbDu3bmwIBC5bqDQ93CCiRpYRHmEmcQxR22cp5y-achYySSFwz5RXEb_-WY9_TeqvJl3NDCLcx43nskSszWC2iaC4cUW2cK7FB9ObRJ06pPdiqRNwKbVSLSMr9A-h7T5Yk8gLt32c0miPOFjcUh6ebDYdmkUXpttR3CAE0V2kibDwlYtivc9h5X5OB_mFCIWREyhWP6ENN163Ry3BOZzi3j6RwMKvDdqaLSpSl6XAC1qU=w1366-h575-ft" alt="PE" >

			<h3>Premature Ejaculation</h3>
			<p>Premature Ejaculation (PE) is when ejaculation happens sooner than a man or his partner would like during
				sex.occasional PE is also known as rapid ejaculation,pre mature climax or early ejaculation.</p>

		</div>
		<div class="col-md-4 text-center my-padding">

			<img src="https://lh3.googleusercontent.com/fife/ABSRlIq4kdRUSrEgGynW866mg__-wg03NE49We0Pa9_qWqCzljoiYswueeFYoB8jqdI6gy81GUMO_PizeHY0yLX4Ix9QbErmzurr_xwFLqycJG_mIExVOytsTDl8ieG0GUQwuO9Syta1AwbIekJZxB8_2zMM26ij6ygOXUmQ5rqggT7QyVtErTrLXCZ5NRWwGreaGCEGfPrIP77yC2AuB1m3My-kgX8NvBDK3i911gt1h705t9tYfbRydEFzeI-hpS_cuuT8eYAY1_PM7WVFl7-5l-AiMl3vu1taoWQYb_Gnw4QgYbTZeAW_JaxQwDqsco9gatxQE7jEPF6keDLMYfP7PqzZIKqRHwWTICA5kA8_e_SXEsKa05fXs8nnKtbMrpGTO-p23d4ur118mS0jjsEUJRTtOgC6SZXwKU4rdHKeMU8PdUIjfmNzuwxNy5PC-OM0vpeWCYB1K0QbczswqplsGfIWuJOHsPQAS9uwH4vba9zzo4xGv3C0ng_CBexkJS8R34FckJk3UNIiayp5owEpern_ms890vHfKbDMwkAXqhXZ4f1Mn0adB410jJ7uELHQQZUJvW3Qv0Z1tbrNXQnmE7mod7tq_SREKi9FCauWCSrzwKcDt9BVLw3OqQGbisKvveKaAxsFbX04eb4COGlIATflsdoVumlWCP5Rx9TNGkWQ1BvHSSqLLuvvDVrB13dhnSEyiGHDdbPi1cQqKFshTX6cJqGhScC_3KU=w1366-h575-ft" alt="ED" >
			<h3>Erectile Dysfunction</h3>
			<p>Erectile Dysfunction (ED),also known as impotence,is a type of sexual dysfunction characterized by the
				inability to develop or maintain an erection of the penis during sexual activity.ED can have
				psychological consequences as it can be tied to relationship difficulties.</p>
		</div>
		<div class="col-md-4 text-center my-padding">
			<img src="https://lh3.googleusercontent.com/fife/ABSRlIqChJR_qXhuiwR62cGtFTkrrSclkil1ArOVu7OOaC7l_fYdDTHqLleUVHm-65APEcbQ5QW__5RdnaPSLEPL1ZnJDl1lXB7R3W5MZTGtRQN9AziZjw5ReNzuIUINB_Mlbp6qUItSrjARl7HkrDaQSIOadt7wKenepE9pnwmgVbOdlLhY-9uoPcE2vpyf3GrIAdE663we5k-xIVNll99S6VawmzoKMhSpElkrWMHI8Sc6NLEN9GknnklrzSpNoR-FH6ZFXPCMstOoCRo1iDmTG-BCdvKZIjT6FXvV6vr9SnTEja2kJKx0gDjj1Z6pusSEOhrViciHaBi85KPNCTC23FAPhnPCE0riRjS6Qj8_0wqAU-B1OB1FLMVvdM-WW2RKKqZN9GZ4bUwy9NyLSw2AC4CZW3bIG00u7hWbVAX1ruEYzhiDN0vARfjk29AjY81MgpNq7o-gRll99nYRQQZg0oB1i_csL-nZTswNJb4Uz6R7FhveBAqBPMlLsxRyK1mTS3aNB_yvg8c1hjkTduqznZ0BlhucqRhx4O9DSPSIprmQMPXrcmFs0kvsHqy0SaKgBOKgx_rbR6CNiASRdra8FVB8gOtV7yaxnjrjjuJ29yXyLU5EUwD41VxY0EFBISP2FsuSk2TOWg5UOIUTUQY5DhKC6jtt3Yl73qvZvZ-Xr_b9jKIykHbEhlwT4u_iJugilLw_67Gu6MaUmq30IdIByQr0wPbgF-ajvLE=w1366-h575-ft" alt="PCOD" >
			<h3>Polycystic Ovarian Disease</h3>
			<p>PCOD / PCOS is a very common
				condition affecting 5% to 10% of women in the age group 12- 45 years. It is a problem in which a woman's
				hormones are out of balance. It can cause problems with menstrual periods and make it difficult for her
				to conceive.</p>
		</div>
	</div>
</div>