<div class="row my-padding">
	<div class="col-md-4">
		<div class="card mb-3">
			<img src="https://lh3.googleusercontent.com/fife/ABSRlIqtyPJNoLWpyr1x5t6UG5oaT7dFwqGCEOk8aI5TJkDcB8xfU_tF82Uh9k4HOOUe5lLka925iqp-GKyy9KuerCIcjtO5UXc3zkRFx48Opega_1-TZe3qZa5V5eD0dfh-s_1ecQa4UdY6J2gpWEe9jLrVFTSSsoBsWF86BUhdu65ynqlv55lnzD9GfflGTSE1iUtlhxg0Ls7Mn5UjTZ-7wobGHE3LYVTNn_SFSCDiy3QQopl6fmvRRrbwBfIWQdbmItLa0aF6HkPpEBEp5eaa9E3J3cP8cv1nHLFXlh5g2Qaia_oJVXjk2P8DsyjqxcjvLDaCVQ-Q2-2aKwa91BJJZe_AeGU4p5NSuul2Qiw1_8GlsJRF_hQ48epdVzXN7TxSsNwPE8n_PYbRNGAH5iNGSj8TNB2bWwPsQ2FMNAgqBVt1054OE8KpNFEQjaClyUPniQkaDxg5domByBKGh4dLjPgDxcWKdYhO2IdMJnceKRVDmJqJI0b-tIDgqASijI34QBmlWmdJ8KC6oaiLDqkJbYZDdJGJoOodVyzrZRW0C9xR2tcWus8oHsKehxHeKRzLqnLC7I1TOJjHC5La6qkM3DRnA5rXi6WwmnpSTnhCOKxFTChX9NVu2J44rOLGxtTpPXKI-Gwz-jksHEoLVnzh6WIqWR05mVnR0XRNe4dfSOR31iW5Qouv4o0e_nbDTGttE2MNilqz72JghDdKHanm7aI5uqhOuzyRQpk=w902-h624-ft" alt="Dr.Aleem" width=100% >
			<div class="card-body">
				<p class="card-text text-center"><b><i>Dr. M. Aleem</i></b></p>
			</div>
		</div>
	</div>
	<div class="col-md-8">
		<div>
			
			<br>
			<div class="row">
				<div class="col-md-4">
					<h6>SEXUAL DISORDERS FOR MEN:</h6>
					<ul style="list-style-type:square;">
						<li>Complete cure for sexual disorders for men</li>
						<li>Treatment for infertility men</li>
						<li>Erectile dysfunction</li>
						<li>Pre mature ejaculation</li>
						<li>To increase sexual time</li>
						<li>To increase sperm count</li>
						<li>Unhappy sexual life</li>
						<li>Quick discharge of sperm.</li>
					</ul>
				</div>
				<div class="col-md-4">
					<h6>SEXUAL DISORDERS FOR WOMEN:</h6>
					<ul style="list-style-type:square;">
						<li>Complete cure for sexual disorders for women</li>
						<li>Treatment for infertility women</li>
						<li>Lubrication disorder</li>
						<li>Vaginal dryness</li>
						<li>Penetration phobia</li>
						<li>Lack of orgasm</li>
						<li>Other Desire issue</li>
						<li>Stress</li>
					</ul>
				</div>
				<div class="col-md-4">
					<h6>SKIN PROBLEMS:</h6>
					<ul style="list-style-type:square;">
						<li>Complete cure for all types of skin problems</li>
						<li>Acne(pimples and black mark)</li>
						<li>Hair fall & dandruff</li>
						<li>Fungal infection</li>
						<li>Psoriasis</li>
						<li>Allergies</li>
						<li>Itching</li>
					</ul>
				</div>
			</div>




		</div>
		<div>
			<!-- <h4>Siddha Patients <span class="badge badge-pill badge-info">60%</span></h4>
      <h4>Success Case <span class="badge badge-pill badge-info">90%</span></h4>
      <h4>Happy Patients <span class="badge badge-pill badge-info">95%</span></h4>
      -->
      

			<app-circularprogressbar></app-circularprogressbar>
		</div>
	</div>

</div>