<div class="my-padding">
	<!-- <div class="row">
		<div class="col-md-2">

			<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">

				<div class="card-body">
					<h4 class="card-title">Dr. Aleem Health Care</h4>
					<p class="card-text">
						We treat various kinds of diseases even which are left untreated in other systems of
						medicine. No side effects.

						<a routerLink="/treatment" style="color:white;text-decoration-style: none;">Read More..</a></p>
				</div>
			</div>
		</div>
		<div class="col-md-8"> -->
			<h5 class="text-center">Working Hours</h5>
			<table class="table table-hover">
				<thead>
					<tr>

						<!-- <th></th>
      <th>Working Hours</th>
      <th></th> -->

					</tr>

				</thead>
				<tbody>
					<tr class="table-info">
						<th scope="row">Day</th>
						<th scope="row">Start Time</th>
						<th scope="row">End Time</th>
					</tr>
					<tr class="table-success">
						<th scope="row">Monday - Saturday (Morning)</th>
						<td>10:00 A.M</td>
						<td>01:00 P.M</td>
					</tr>
					<tr class="table-success">
						<th scope="row">Monday - Saturday (Evening)</th>
						<td>06:00 P.M</td>
						<td>10:00 P.M</td>
					</tr>
					<tr class="table-success">
						<th scope="row">Sunday</th>
						<td>10:00 A.M</td>
						<td>01:00 P.M</td>
					</tr>
				</tbody>
			</table>
		<!-- </div>
		<div class="col-md-2">
			<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">

				<div class="card-body">
					<h4 class="card-title">Dr. Aleem Health Care</h4>
					<p class="card-text">
						We treat various kinds of diseases even which are left untreated in other systems of
						medicine. No side effects.

						<a routerLink="/treatment" style="color:white;text-decoration-style: none;">Read More..</a></p>
				</div>
			</div>
		</div>
	</div> -->
</div>