<div class="row">

	<div class="col-md-6 my-padding">
		<div class="card" style="border:1px solid grey; height:300px;">
			<h3 class="card-header">Our Testimonial</h3>
			<a href="https://www.google.com/maps/place/Dr.+M.+Aleem+(Sex+Specialist+Clinic)/@12.906124,79.125113,17z/data=!3m1!4b1!4m10!1m2!2m1!1ssexologist+doctor+vellore!3m6!1s0x3bad38dc07015295:0xc9e3d0add53715b9!8m2!3d12.9061188!4d79.1273017!9m1!1b1"
				target="_blank">
				<img style="height: 200px; width: 100%; display: block;"
					src="https://lh3.googleusercontent.com/fife/ABSRlIp5yxkoGdRGiFzLcDlpBejs3XMGToIzBwrejoDLkX5GTEhoBb5nuZE9rjB9j_dKwSKtt3O7VWogPAd_H0qCd2WJ7r6-nYhoQT3gIqWfDxbG32O-mqzrfw-VajN_0r-HV9vpvI7KhZnBcgWXRdDGTOzWIaLGCKdDVsYqJ-wLq6EFg6DkyhQw9hRrHEuys7kOqQDIClXYYzG8DKihxgzMB3L4gg5-9vmUlaoSxsPHNbOiWHNmM7l99NWo9BbOdsuTzV85dG0U1yFxqI0Yw7q76eTN_fz4aQ5eS5h2xmkleyZCHRESAwngtzdZJ6enUwxW5ruUYiJ2lgmx4j5xVh3DGyN4VJrjtyM834DNzEoEc-zvU2106FwbgBXuSigUPyGnRiumpQxodmhyjVao18gib66R_synpHNdriKtAIMEwRxGDY217wFee4dLxb9LyiUSOHSe-Pap6pjv8YC_bF4JtIMrt_JG_fd_vANjhcrxu4uZZ3Y1BNIt5iG4GGEupAJh-Y_ueJQiLy89Xuyh0WHuMkXDi1nnvmWj3Zl43MnAh-vo2-xC-B5sE9xcXARHXbZZUXNrFbtS3ZeWGlBM5UNUJcMlNMNSOj7KzQ60fRQ20EorPl0kCyoSmrJ8ICxbFQ9AGCtjm6rd1Tcgem0ObJomZiAR_v9BVpe88WBPxEe1KG6LsdpMpE42cCTmcoBTDwLta6rbgXIPKOriAc4RhPjl83HE6-O0Gmq4vvc=w810-h611-ft"
					alt="Card image">
			</a>
		</div>
	</div>

	<div class="col-md-6 my-padding">
		<div id="carouselExampleControls" class="carousel slide" data-ride="carousel"
			style="border:1px solid grey; border-radius:4px;">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img class="d-block w-100"
						src="https://lh3.googleusercontent.com/fife/ABSRlIpL621Ffv6ovecsvgpNnFdsqUwyqUEddtgn3EnsokVvGNtgw9gbzNS6gHI7efntk5DIdW_tEXdMBAEKxqP4p3a1Poyygyp9wkWPhWgjUind4NqMw9Knyj1hj2EIR0dOpIeJ2GQvHVFgiCqCl_JOQyDuDTVal-OeCxGb5VvbMmi8A6jsxNYSnw8sZoWqd0z8OPtjskkhV2AJiMkWDLtEcV1AQ5e2pYpDL4Q--SINgyx6SNv1OCvcO958GvwWckn9OZem1tiW9uAXaMx5Td66GAmF9q1ax-uSRlTx0kAbRdqLPUQkAjAnZPVyAv3-IrLNYJHEhlgt9uUkuzuz8aESGgIfa9mOyfOta-JKtlYjAq2nd84hxgYYasaGd9mU-udADp_9GIEYoewpzG4SpsErcSlgGH1GEhPqNQogekVtnodD7pS6LeSDurBlfinr0sXSyuu9ThkHAEVp0KinlXZb2uYj6FukAc969KhpHNsCTTbDGP1J5HrLcX_GdQpi0antPcrcE8p0-yGkzEP2fNq_s0w6yNrzt6wrw4WM2JBrc20QfVbOSAWmfzeiHG4BaDKH_IW3KUNuVLWA3Ptx9XjTWrNW2pqGTYITKf364o2Ny0ejICY8Qr2r3IEQi_gXvq6719tnYyzvUy0dA8xyJy7Kh2E7lcshVQeaSzO3o3v_ssgj7y_yzIdLmTRGNtEO1oQ91Dg1dYnnZSXUU-R3m0V2LGHN85SnKSMS0GI=w1366-h624-ft"
						height="300px" alt="First slide">
				</div>
				<div class="carousel-item">
					<img class="d-block w-100"
						src="https://lh3.googleusercontent.com/fife/ABSRlIrXcNrhKrhZV9p9qft1jXZzZSgEnW3nedLPc8qQpn4dxuYRf0AyHI9bmDErUzrOJGxnTLqAn7uIbATWHDYrdv9h8QTt9nPOXZdnMZstMaf7fRX5Ek2cZH-MwkcpmaIpXcgI5sxq8fhNheM9XNnxyTJ3h6SP5u305CpfRc7pV2jdjDdebU45gTOCD4xezii8iI4maqmV5uNn2zpnmGbZVBEw9vhEoe7uqCHdvbBCfWBE6kCXjS7p1xqXM9AnouF9auzx6XI636xTJXHJei4SmES3Bxp7fu-eB3yGyhMPOkE_ndkmflzl20ouDFOgYZ-CKPtyvK5EGH_3-QeUiAsLxU5UvmsONZB0UELAND0ed2lIKF4siqiPMdEctYZHRZ4tH3m9J0UJj1_qwF00CyE-OR5a7aLvj594tdYOZEBwUJTYBeNwEeAFcpt_Tz5NDtV5CIe61p9qAl6wuvum3wmxlRIOJiToCabZ1_7oO0jEE_6UuBajc81vSBAG8wnq4cr8sOeMMtz9-EIuY9ODNjEDvubQRDGsqRuCj0MvZpfznH39dA9rhmUprd-Qh_ReatxOdiql9ITsV5X-IPC-t8NrIL01G2GaTtA7W6tAhUsMcoat0UX4-GrG0BT1WSoBvlQdccuaOvRF4BJyZ9FKk5TgDYiBG04hcPSBHlzSda57bv1keayEBdDvh0x_1Fp1zNuWhQd8AwAIjgMXVKcvN6jX9WLsa_nXdhBfT_k=w810-h624-ft"
						height="300px" alt="Second slide">
				</div>
				<div class="carousel-item">
					<img class="d-block w-100"
						src="https://lh3.googleusercontent.com/fife/ABSRlIo2dgvDRXV2aP-Rs8UAbf3LmEkOUZNgdsR-rqp8rNYhznwmLB_PSzFEf4RyeZ-RXcvpClTd_1QrO8AYWY9SwQDg0Aj8W8CmslK0GJQKm5bt4WR3k4RnnOHL6r9JTGurBknSOUhIkhQsxM1OS0q6gMAp-ADdCGiMwgkafuvPJT_0Q7cJW2gIaA9kPPUwkixYDrdhNMsbrRX_KUPyEdEIXIRsGgJbFUdRRVvgs8khVJ-CIduWEURf33fNMXvPKJ11dQ62YgO9QtfNgvnYCufcEn86DirTq8geeLbH8YwWqNNKUMHpkYVVgJIgcE_qLiQvJPin1ngG5v6MQ0cBn0GWBN0PkOYqsR12xBf13zsm_VNA2kZEcL_rHEWhKYE8-Uk2URA-JHHV14Sro60SYNcnnouOvUE_bOAoWs87aCu_Gi6Q9wnbbhtcMjSZBnniiPNI5LLxvvAziTb1azYJpFTJPQ2zYLvDQLC_ym897K_XO98L0JlEcrc9e5tbNRnXuOzO6D_kWfi123T9qenP6PmF1GSRLXX49LGkohpn5WUo7qvlpkAhMjPBdMl3TxSAthpK7kM6HiLHwKGuWFo3MOT5Iuoku1nNlShK5h0IQF7JyKUtBckS-fIDH6f5p12_1FD-bnINoLQH1ihjrfjJa2Nag2GM_IEOpyBnuYnO9oX4YAFMpKIIVmAnepd5CZyzpUFg_V3Oq10aq5J0NH-BFWr7TvjmRTdo6QCljbE=w810-h624-ft"
						height="300px" alt="Third slide">
				</div>
				<!-- <div class="carousel-item">
					<img class="d-block w-100"
						src="https://lh3.googleusercontent.com/fife/ABSRlIpTzDhfgdTQh-YzdGpe_HMg_AzTg9UICiiEl4z0lxYuNYYaxJJ5NAq54p5BeDPrEJE79lr1dfUxBGC28Yr7Mcf3bzJjXMTfIA4Gmaj2j9ZvInBFJih0xjqlFiK9YbFh-h-vRPb6fFFhFcy96fPJ2pHlpzMAxDTh91xXmgntwtHEq2aUUcJDX5-ZnlGtJjsc828wxNuCkZpIjGCv4p6d9TP6e7AWoVdG7GeMGNk9DtKvrg4fDpjL-DY5UiOkdbl6qkuxzIlI3qpmkxqKnto13YrfSUGJBYcqqZZBveqY5AgKIDdUpCwKSbwFjSMgZBjXSBlgrJoeu9F3poQgst9fRaOI2JcB-j8IpV2bJizbzXzE0tCBGgAPbZpbroa_9ILZny5veEAf7gvrhSSx78rM2goIWXT9lo6v7jJL1eDB5eHXajNGCCr76OkFTyQe9P5cH1ESuC0iOj1QEqVwMKEOrQgXBDyKGQNtf1T04Xk-ioAaNmTYb_v7L3i45zTkQXHIMBqJBwLbT6C7_-H90cPozFx0AiARBbnuAO256B-rXIwxJKgdp-dQu9kHi8C-hEUbp0_GfbsZlX9eqG-B0u59HmXp_0LeUQzwOQ3sovLkAR6CA_1qk06SlmPEgsPVRht-gnO8emA6N0BJjnynONRaz5Uj7S4kx5LkcKuhN7tlEtMwakPIuoAn_pe1K7E862fFDhAYBZZb3txg6XPSKfyEDurzBrmoyKiwGAI=w810-h624-ft"
						height="300px" alt="Fourth slide">
				</div> -->
				<div class="carousel-item">
					<img class="d-block w-100"
						src="https://lh3.googleusercontent.com/fife/ABSRlIoCrfaL3iF1fXZ_5P-7HVmbcHuk0Hs14o5fgEueJAcj82-CYJY1ZMpmVQYbYKBy7-Ivs8JuPF6iBh5r-fOPQUX3_uqr9m_k1mS-tOLV3VNFhAc9NqAqPsaZitluXEYJNkQoHfJZsehzph9raIVWK7zMCojkJNksJpTirQPSOKCMaRP2BYaRkvfw8nWK3A8yyfDaRDSX74grB2ZnCR4lf2svXB5bQ1BzOeLYm0ZEJm5O-uBjfu1mGs5EmXjjhYpdejw48TcDxZIVaJz9NtHJz7amt1-AUKMRcLBuII6Qz0MNnD8sAp7oDqHIPrFmK1ObtXYXMFzAiKFYP6i7YRoyfd6bYPBZoY7ZpSv1i64S2uADyvHvSXMs30khaukCtPGOIyNHveYcXMlOjC6jNeU0nKAAZPAPCtmk0HxCtWmjAC2iicLtgUpmfZiS5F97-VfmlVaY0ZRDurpJ_XPowx6ZNLWGcW5Zu-k6W2E4af_uqXvNn5gG79zN0Yh-oEd1QuIZHiW6RUu8sJjnRtORURzO1UFUeAe-3sRQpXLzOpxCTNr8qz8P_J7dLLc5TUFZ2N8cBJAiFHf-O-QObvqymZdDDZl6q4K2IMzw9nE1pD6rgNMqxIGrSjMM6nY7FaTss8qap1Fwpl2wts_5YqO4FZy64ZZ_JHWkbPLQC2FMYNMvcvjzOjELkoGd1V3ZGlVZVHYhF0IyKAM62V-PUfPneEQW_kaLuLO0vFONtrE=w810-h624-ft"
						height="300px" alt="Fifth slide">
				</div>
				<div class="carousel-item">
					<img class="d-block w-100"
						src="https://lh3.googleusercontent.com/fife/ABSRlIrr0dwbkHKBShRehN-2Q5N_s29dkhh2d7nCVbfKRzlamC5ZyTM2YKXhx0GER6dQ_f5mrcx5-TQL5OkhHoIsRR87mdgzI0-JuWRZdE6msdrLHOII-3cr1-2YMZbgw43x2499s2LZcoGJPFdvggRiDaOGL2Km4p9vUwqeg1mxsH-56TvR8-x5Prh3sGlKQ8fjOmL1ILIr71pf6zBStqtIlnFtsDq-pNTH50AewbYWbHk1cLWZKgmqKk3uOTGYEUt-6IFIqM84hRwM6i8H2wDZjunjZYPrArxRIz1K9ZoPehnVxIRFGpy2E-IfxvlyOeQQo5YUohdUOgYLk2oIo8pi8zg1tEQG39piEWRLXavIaoz2Kt0tMbYEcNZYR7UqVGLxYYnkHAbyQzj9PLKTA7kkzPJWCmuJ607mLNF4NoSkxEAmAEOEle_rGgXYuOJaMbpqX0OSXbeUvn9jRn0dneX0FwDy9GoSaZ_tQXEOJ_ltNz1QiUrEESDzbz7STJsBKdMlJYGDbWpv0hP_qGoXOop3c6nWXiUYo4ig3DUnSDEgtKZrOh5ld5F7e0ilUIgdKMt4qv5N8ivLh-Xvo9LlgoxpALi2-7DmKwj7MZ2nIXc8CztB3TAPNspZfUmAMseJ1z0nwf0qBOq54m14Y0w6QVCjaI3QSqURxX0U0X_5B53TiJRTWx6hT3bOokdNxgWwcGyQHGJk5xZpTscXsc8z0cNfxRP_dRFGWnb5w-I=w810-h624-ft"
						height="300px" alt="Sixth slide">
				</div>
				<div class="carousel-item">
					<img class="d-block w-100"
						src="https://lh3.googleusercontent.com/fife/ABSRlIoZEzRfBmrGbAgu4kl92qvi1U80e8xqos18EKPYiL9cS4VeXfMQXcU7IlJJ5EBWDcOakj81BA3wqf8jrv3ktrbV0KcH8zOCSRCwaIStn5wiGYoqKCl9Yd9F42pHxHBXc7HkunmunNF8EhNLBcU9ZTaHX_7smnyylcYXa99ZStTwYMs9QYIkZlRAtL-2qeQk7Hvnf73Co2pakWUQFT_JXuDOyNdQ4tn_1a0sa_xMZRw67QSheYqghcaSiiNL5B5g91wiVflopaZs9i9UvPPbFOEn8dLyONcUpzLEuw6b275o9ptDu6Pi8PwPaJRco94vUtKLcOhAyNL7BWqHbH3KWrxygIgMGi9KiXW4tm1L_nBI0BK2rLomK-UQ9Idn_zwaYoz_XNCX8F2x_zO7myQ6DNG_bSqWQxhvveT0UZD9-oT9VpgVi2f0wkMIMP1J7-8TA_Bzej9K2-b7bhEcJO3h7Ls0CB5ZgC5vqBUlPqGijFRxnfKrh8U9Ax9aQJVBDoB6xstwq97UuiAyCKJqzhGKOJ38gaDzgiqz75paR1OZhl9apKcT9REoWNK9bV9VWHN3sBicod2OL6Ztn3b8Z1FYTqvkS7DiL_Oe4XpRssQAJQJGZmDPud2cqncc6FGRO2GMQtYn0Gj0zZVTJR-4FWjZkEyAUz7eRYedFrNw6H1eoaTnJMx1IaCD-rXuxlsJqKJRfRWqnV-Y8_YNoxHKygISL0DSMDRHTSgrZ0s=w810-h624-ft"
						height="300px" alt="Seventh slide">
				</div>
				<div class="carousel-item">
					<img class="d-block w-100"
						src="https://lh3.googleusercontent.com/fife/ABSRlIpMNx1eiu9z3hD1AL3wW0GhqfJhzfavOZqGNJPR-bJOrjIU6TgjeKRIZwY3m9vU7byOM-4Ov_ULcvrrHtVk8S-WcPVo_KvWKsrnSuL5O16B3a3aF7FFR2ZmGzziPhPRK84hjf6Xm8s5PUSXpueXVmH1-MoFWh9m3ar907v569H6ZNNI1IbNOW6-Y2OR1DYJCkre4oDyyxwy4b5eaKNqSwNlHmEtMYmZ0S_eKGHqWr3zuuklrV6w0JvYWH0fA1227NFUVGzlTmeBXdJesHicHcWY-AW4gSdv1W2TpFZcpSxt2Cu8l2zKD4P63VpKd-mo9qk3Rcz4JHDoAGfRwuX0EQ2NUeAP3Gx_kNVSg7ojEEdLrS3e5PBelE7_j-IZuWMvKdPkaDwKcYoIy_Kk5Vss-rjKcDdbzdR-zZzGUVdIq2qLXSOx4FvXfoFatdF-0jvO-y-garerPdHvUZvDgkL-k0fVA5aB5sC7_BEtDBXIRWqNtmdBh_QPLa0heHWZSGfBJibWpX8PaMLQX7wBOCGC52C-98JoLPeVg2LxYdszemKjbfXcEtzI-qvgIQbDeedCPXc0YVbslCRDtWj4BQO1erGq2abzOgTS7x0n6xbFUh9Y1yyRSoYWHj2fpiy0DR2qitgCBKNcKnrPHZqlVh-wjsHoM9nnIAkPHAMEG3wG_0wBmqwPKSHhHZUQbWjRY6T__J3ZWwyE0sN6n6wPwPZ59_jeOd_z7gImnJE=w810-h624-ft"
						height="300px" alt="Eighth slide">
				</div>
				<!-- <div class="carousel-item">
					<img class="d-block w-100"
						src="https://lh3.googleusercontent.com/fife/ABSRlIpXKYWiVkvZ_UNSxsiJ3Y-5NVkE335J7T6p0Yf5IRy1YEp9PUHuacpTwFqfpo7vokZkjDKD0FbJfq_wXiucnNAnU4_5W9sHJ92FKpDJLYaQzNo1y-uavKHw5XhvIFdMW2NR37jpq92-55Nqr6gGRr3coRsCW4RBTfFnmYTOX_SjdMU5cqAdIp7ipG2z6Pr2RfYAQ7_RSlYBUBltbXbpZkb0wWdzIZJgcYNuF9q2UyaEkl8Yv9YipwGsz_-xbbTCjl4aYXmc05rzCQ_Z76O4DePz0rxygJ86mgl7rLo9-mIGLlIOsr33MDitwrDmpUw3eyLP3ovAD32KTre-pqtPWh-IG7w5FIxjueDkOc5velzjmHum5np6GVWw5J6fSXzl-bWMyC2vp4_eHvoTS9bCmWY1WhlXQVnynjEWEAuaO_W9pyUj0XNiHuRiC47ZLwsza4dR_zX0pSaS-UzI6ZxoB3vhtO8wvzLmUFcnL6jfSJUOFIp9LlJeYr0ZMRdoc0Q98djjjgwilQ__pZzYaH6Dnt91dJmQ5FBmci9fysx-GYOqpCRzu9z9QGNveviM2WLH_XPIn61SXRQXt9X6u9Ic24K1ncA1rXptnD09h0ZcuruFmYUFcU1bhYVbME72Y0iHpCBd2vki6QAieE7YJVPxtMFK-kBENRojFmKN0UBRnzpnQobkkUaUQXOsTmN2ME5ji3LI0Cg1fOX63V9rRcMww16Jfcl3C_H0hDY=w810-h624-ft"
						height="300px" alt="Ninth slide">
				</div> -->
				<div class="carousel-item">
					<img class="d-block w-100"
						src="https://lh3.googleusercontent.com/fife/ABSRlIrOK8SM1j_S2jvEjnbVpzvPRASxILQ2ToaiPaAA2HUUqNqnpUJNDXiEYsLJds9TIb80NjPKBIdFK35uekaIMXwu8sm1MqsK3_dlvMJJLPtfv7yVvThqCI5p98CJt8dMfBqvNVPyCP5RgUnCxG85diQXL57jS0sDZlXoZQB5RchTqIFR1JZaJokbRnNVy05MAamEsg4JhInRTtqt7oGW-qe4qqV4tN4XdNUkfCzYpOn__Se3kGdtwrUyaOCkurF6R86o9tO5-aFQtwl5MJ8gKAgpqF3kvdLPkaZ7hn1SFyG3qpIgnv-TkMZwZjVrPJJTO_d641O00EBSekoxCDVp8-XAxdT_nSf3NtKdJeOnldo3GxaXwBtuEW7LWIn3EwLrYD6IDAZrSAJ1O9D_tt4PNAuJvYt6q8ELmy7pn23OljK8o_03shvULmI5huGCLLtgXM5brTGvZWNauEpF3-VTM3syNYVhujKVxlEii8fw9xc_UmIDO-9y3-fBK8HQQFCPuff64Q6io0D_u2qAbxSbe-eUolIg3OqVbpcHBlnrU4evk3WeGAjEvz9x86U2ptLNq246LrvUrc2Jp4fv5la2NTeN_xafNpybZzoaQyvZbRvXH81WhRNdTqAcVKx0ExT9tIizoMFdy6G-_5yvD_HEfvh-Ythtg-djOOPgme6isv19ZSlaEgs3a55FrBhE4flyU2T7jECzoqQd8EVvUbknW35EDGiXoEKi7cM=w810-h624-ft"
						height="300px" alt="Tenth slide">
				</div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true" style="color:grey"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true" style="color:grey"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
</div>