<app-carousel></app-carousel>
<div class="container">
  <app-about></app-about>
	<app-timetable></app-timetable>
  <app-testimonial></app-testimonial>
  <!-- <app-treatment></app-treatment> -->
  <app-aboutme></app-aboutme>
</div>
<!-- <div class="my-padding">
  <div class="card text-white bg-primary mb-3" >
 <div class="card-header"><h1>Working Hours</h1></div> 
  <div class="card-body">
    <h4 class="card-title">Working Hours</h4>
    <div class="card-text">
      <div class="row">
        <div class="col-sm-6">Monday - Saturday</div>
        <div class="col-sm-6">08:00 A.M - 10:00 P.M</div>
      </div>
    </div>
  </div>
</div>
</div> -->